<div class="panel panel-default">
  <div class="panel-heading">Product List</div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
    	<% @products.each_with_index do |product, i| %>
	      <tr>
	        <th scope="row"><%= (i + 1) %></th>
	        <td><%= product.name %></td>
	        <td><%= product.price %></td>
	        <td><%= product.company.name %></td>
	      </tr>
	    <% end %>
    </tbody>
  </table>
</div>